library/PSX/Data/Tests/Transformer/schema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://phpsx.org"
    xmlns="http://phpsx.org"
    elementFormDefault="qualified">
    <xs:element name="test">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="foo" type="xs:string"/>
                <xs:element name="bar" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>